# requirements.txt
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
torch~=2.2.1
torchvision~=0.17.1
tqdm~=4.66.2
numpy~=1.26.4
Pillow>=7.1.2

einops~=0.7.0

# Logging ---------------------------------------------------------------------
tensorboard>=2.4.1
# clearml>=1.2.0
# rich>=13.7.1

# Pretrained Models -----------------------------------------------------------
# timm~=0.5.4  # Requires `torch>=1.8.0`
# efficientnet_pytorch~=0.7.0  # Requires `torch>=1.6.0`

# Data Augmentation -----------------------------------------------------------
# albumentations~=1.16.1  # Requires `Pillow>=8.0.0`

# Utilities --------------------------------------------------------------------
# wandb~=0.12.14  # Requires `torch>=1.6.0`
# pytorch-lightning~=1.7.1  # Requires `torch>=1.8.0`
# Hydra/Omegaconf ------------------------------------------------------------
# omegaconf~=2.2.1

# Matplotlib ------------------------------------------------------------------
# matplotlib~=3.6.2  # Requires `Python>=3.7`

# Others ----------------------------------------------------------------------
# opencv-python~=4.6.0.44  # Requires `Python>=3.6`
# scikit-image~=0.19.3  # Requires `numpy>=1.17.0`

# Development ------------------------------------------------------------------
# yapf~=0.33.0
# black~=22.3.0

